[Desktop Entry]
Name=AutoStart
GenericName=AutoStart
Comment=AutoStart Scripts
Exec=/home/aggour/dotfiles/autostart.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
